#login_input{
    border-left: 0.55px solid #c8c7cc;
    border-top: 0.55px solid #c8c7cc;
    border-right: 0.55px solid #c8c7cc;
    border-bottom: 0.55px solid #c8c7cc;
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    border-radius:30px;
    min-height: 4.0rem;
    div{
        border-bottom:none;
    }
}
