#nlist{
    margin: 0 0 0 0;
    ion-item{
        height:90px;
        border-top:none;
        border-bottom:none;
        padding-right: 16px;
        .item-inner{
            border-bottom: 0.3px solid #c8c7cc;
        }
        ion-thumbnail{
            margin: -8px;
            img{
                width: 70px;
                height: 56px;
            }
        }
        h2{
            margin-top:1px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space:normal;
        }
        p{
            margin-top:6px;
        }
    }
}
    

